/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/main.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.todo-card {
  padding: 1rem;
  background-color: #756a6a;
  border-radius: 8px;
}

.todo-card__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.todo-card__status--completed {
  color: green;
}

